h1{
	font-sise: 50px;
	color-red;
}

.class1{

}

<style>
   html {
    height: 100%; 
   } 
   body {
    background: 
     margin-left: 200px; 
   }
  </style>
 </head>
 <body>
 	<div class="logo">
 		<img src="https://sun9-5.userapi.com/s/v1/if2/Ebp597jCuJ7FtsuEvdoME3JHfsmc7UGujpG2S5HmU_ThdLQdv2kWoEDmfUCnRyB9aOMwNLwpWVT2TgrD_2Y8e58M.jpg?size=500x500&quality=95&type=album" align=”left” width="290" alt="Логотип команды">

 	</div>